[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=mate-terminal --title="OpenClaw" -e "bash -c 'while true; do killall openclaw-gateway; killall openclaw; sudo chown -R abc:abc ~/.openclaw; openclaw gateway --port 18789 --allow-unconfigured --bind lan --verbose; done; exec bash'"
Name[en_US]=OpenClaw
Name=PicoClaw
GenericName[en_US.UTF-8]=OpenClaw Gateway